body{
    font-family: sans-serif;
}

main{
    margin-bottom: 10vh;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.container a{
    text-decoration: none;
    color: #000;
}
.menu{
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, .1);
}
.menu-flex{
    display: flex;
    align-items: center;
}
.menu-column{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: flex-start;
}
.menu-column.menu-second-column {
    justify-content: flex-end;
}
.menu-nav ul {
  display: flex;
  list-style: none;
  gap: 10px;
}
.menu-nav ul li a {
  text-decoration: none;
  color: #585e65;
}
.menu-nav ul li a:hover {
  color: #757a80;
}

.menu-link-button {
  text-decoration: none;
  height: 48px;
  background-color: #4c6ef5;
  color: #fff;
  padding: 0 32px;
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.menu-link-button:hover {
    background-color: #3d58c7;
}

.container-card{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  justify-content: space-evenly;
}
.card{
  max-width: 290px;
  width: 24%;
  margin: 1vh 0;
  margin-bottom: 16px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, .2);
  border-radius: 3%;
}
.card img{
    padding: 0 14%;
    max-width: 100%;
    max-height: 35%;
    width: 12vw;
    height: 20vh;
}

.card p{
    padding: 1vw;
    font-weight: 600;
}

button{
    border: none;
    outline:none;
    background-color: #fff;
    width: 100%;
}
.botao-carrinho a{
    text-decoration: none;
    height: 5vh;
    background-color: #4c6ef5;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.botao-carrinho a:hover{
    background-color: #3d58c7;
}

.rodape{
    margin-bottom: 0 auto;
    text-align: center;
}